<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Guess the Breed</title>
</head>
<body>
    <h1>What breed is this dog?</h1>
    <img class = "dog-img" src=<%= dogimg %> alt="">
    <form action="/answer" method="POST" class = "dog-form">
        <input type="submit" name="answer" id="" value = <%= dogs[0][1] %>>
        <input type="submit" name="answer" id="" value = <%= dogs[1][1] %>>
        <input type="submit" name="answer" id="" value = <%= dogs[2][1] %>>
        <input type="submit" name="answer" id="" value = <%= dogs[3][1] %>>
    </form>
    
</body>
</html>